@import url('root.css');

main {
    background-image: url('../assets/concrete-wall.png');
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.7);
}

.dashboard-container {
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#container-label span {
    color: var(--color-accent);
    font-weight: bold;
}

.item {
    background-color: var(--color-secondary);
    border-radius: 1rem;
    padding: 1.5rem;
}

.dashboard-item {
    flex: 1;
    transition: all 0.3s;
    
}

.dashboard-item i {
    color: var(--color-white);
}

.dashboard-item:hover {
    transform: translateY(-10px);
    color: var(--color-accent);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.column-flex {
    gap: 0.5rem;
}

.info-header{
    align-items: center;
}

.info-label {
    color: var(--color-grey);
}

.info-value {
    font-size: 2rem;
    font-weight: 600;
}

.program-tabs {
    display: flex;
    margin-top: 0.5rem;
}

.tabs {
    background-color: var(--color-secondary);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.tab {
    background-color: transparent;
    color: var(--color-grey);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.5s;
}

.tab:hover {
    background-color: #3f3f3f;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab.active {
    background-color: var(--color-accent);
    color: var(--color-white);
}

.tab-item-container {
    gap: 20px;
}

.tab-item {
    flex: 1;
    align-items: flex-start;
    gap: 0.5rem;
}

#workoutBtn {
    margin-top: 0.5rem;
    text-align: center;
}

.item-title {
    font-size: 1.3rem;
    font-weight: 600;
}

.item-details {
    color: var(--color-grey);
}

#progressContainer {
    margin-top: 1.5rem;
    width: 100%; 
    background-color: #e0e0e0; 
    border-radius: 8px; 
    overflow: hidden;
}

#progressBar {
    width: 80%; 
    height: 20px; 
    background-color: #4caf50;
}

.tab-subheading-container {
    align-items: center;
}

.tab-subheading {
    font-size: 1.5rem;
    font-weight: 600;
}

.log-workout-btn {
    padding: 10px 20px; 
    border-radius: 5px; 
    display: inline-flex; 
    align-items: center; 
    gap: 1.5rem; 
    background-color: var(--color-secondary); 
    color: #fff; 
    font-size: 1rem; 
    font-weight: 500; 
    border: none; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.log-workout-btn i {
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 1rem; 
    line-height: 0; 
}

.workout-item {
    margin-top: 1rem;
}

.recent-workout-label {
    font-size: 1.2rem;
    font-weight: 600;
}

.recent-workout-date {
    color: var(--color-grey);
}

.view-details {
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.3s;
}

.view-details:hover {
    color: var(--color-accent);
}

.margin-top {
    margin-top: 1rem;
}

.nutrition-content {
    margin-top: 0.5rem;
}

.nutritionProgress {
    margin-top: 0.5rem;
    width: 100%; 
    background-color: #e0e0e0; 
    border-radius: 8px; 
    overflow: hidden;
}

.nutritionProgressBar {
    height: 10px; 
}

#protein {
    width: 80%; 
    background-color: #4caf50;
}

#carbs {
    width: 80%; 
    background-color: #3b82f6;
}

#fat {
    width: 81.25%; 
    background-color: #eab308;
}

#water-intake {
    flex: 1;
    display: flex; 
    align-items: center;
    
}

#percentage-circle {
    outline: none;
    width: 8rem; 
    height: 8rem; 
    border: 0.5rem solid #3b82f6; 
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin-right: 1rem;
}

#percentage-label {
    font-size: 2rem; 
    font-weight: bold;
}

#intake-ratio {
    font-size: 1.5rem; 
    font-weight: bold;
}

#goal {
    color: var(--color-grey);
}

/* Media Query */
@media (max-width: 1024px) {
    .info-label {
        font-size: 0.9em;
    }

    .grid-4 {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

@media (max-width: 768px) {
    .grid-4 {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .nutrition-content {
        font-size: 0.9em;
    }

    #percentage-circle {
        height: 6.5rem;
        margin-right: 0.7rem;
    }

    #percentage-label {
        font-size: 1.5em;
    }

    #intake-ratio {
        font-size: 1em;
    }

    #goal {
        font-size: 0.9em;
    }
}

