@import url('root.css');

header {
    position: relative;
    background-image: url('../assets/programs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 34%;
}

header::before {
    content: ''; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.35); 
    z-index: 1; /* Ensures overlay is above the image but below the content */
}

header > * {
    position: relative;
    z-index: 2; /* Ensures content (like text) appears above the overlay */
}

.filter-btn {
    padding: 7px 15px;
    border-radius: 5px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 15px;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    background-color: var(--color-white);
    cursor: pointer;
}

.filter-icon {
    width: 18px;
    height: 18px;
}

/* Programs */
.programs {
    background-image: url('../assets/concrete-wall.png');
    box-shadow: inset 0 0 3rem rgba(0, 0, 0, 0.7);
}

.program-container {
    padding: 3rem 1.5rem;
}

.program-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.tabs {
    background-color: var(--color-secondary);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.tab {
    background-color: transparent;
    color: var(--color-grey);
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.5s;
}

.tab:hover {
    background-color: #3f3f3f;
}

.tab.active {
    background-color: var(--color-accent);
    color: var(--color-white);
}

.item {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1.5rem;
    gap: 1rem;
}

.moreBtn {
    display: block;
    width: 100%;
    text-align: center;
    background-color: var(--color-white);
    padding: 10px 20px;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-black);
    font-size: 1rem;
    border-radius: 5px;
    margin-top: auto; /* This pushes the button to the bottom of the flex container */
}

.program-card {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    height: 100%; 
    transition: transform 0.3s;
}

.program-card:hover {
    background-color: #363636;
    transform: scale(1.05);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#item-title {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
}

#item-label {
    color: var(--color-grey);
}

.program-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0.5rem;
}

.program-meta {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 1rem;
    font-size: 0.9em;
    color: var(--color-grey);
    margin-bottom: 0.5rem;
}

.program-meta span {
    display: flex;
    align-items: center;
    gap: 5px;
}

.fas {
    color: var(--color-grey); /* Adjust color as needed */
}

.far {
    color: #f39c12;
}

@media (max-width: 768px) {
    .tab {
        font-size: 0.9em;
    }
}
