/* Main Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #1b1b1b;
    --color-white: #fff;
    --color-black: #000;
    --color-muted: #94a3b8;
    --color-grey: #b7b7b7;
}

* {
    font-family: "Poppins", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: var(--color-primary);
    color: var(--color-white);
    line-height: 1.5;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#container-label {
    font-size: 2rem;
    font-weight: 600;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--color-black);
    background-color: var(--color-white);
    font-weight: 500;
}

.btn:hover {
    opacity: 0.9;
}

.column-flex {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.row-flex {
    display: flex;
    justify-content: space-between;
}

/* Reusable Header Styling */
header {
    padding: 3rem 0;
    background-color: #58a4b0;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.3rem;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.header-search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.header-search-icon {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0.75rem;
    color: var(--color-grey);
}

.search-bar {
    margin-top: 0.5rem;
    display: flex;
    gap: 1rem;
}

.search {
    width: 500px;
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    border-radius: 6px;
    border: none;
    background-color: var(--color-white);
    outline: none;
}

/* grid */
.grid {
    display: grid;
    gap: 2rem;
}

.grid-3 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}